@import url('https://fonts.googleapis.com/css?family=Lato');

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3.3vw;
    }

    #banner img {
        display: inline;
        width: 0;
        height: 0;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
}


/*----Banner section----*/

#banner {
    overflow: hidden;
    width: 100%;
}

#banner a {
    display: block;
    color: white;
    position: relative;
    left: 15%;
    bottom: 20px;

    font-size: 200%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
}

#banner img {
    width: 100%;
    margin: -200px 0 -250px 0;
}


/*----Burger select section----*/

#select {
    background-color: black;
    color: white;

    padding:0.5% 2% 0.5%; 
    border: 2px dashed white;

    overflow-y: scroll;
    overflow-y: hidden;
}

#bold {
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

.wrapper ul {
    text-align: left;
    margin-left: 21%;
}

.wrapper img {
    border-radius: 5%;
    height: 210px;
    width: auto;
}


/*----User information section----*/

#information {
    padding-left: 1%;
    padding-bottom:1%;
    border: 2px dashed black;
    border-radius: 1px 1px 25px 25px;
}


/*----Button section----*/

button {
    margin: 1%;
}

button:hover {
    background-image: linear-gradient(white, lightgrey);
}

